*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
h1{

    text-align: center;
}
.card{
       width: 300px;
       height: 320px;
       background-color: gray;
         font-size: 0;
       margin: 0 auto;

}

.calc-head{

    text-align: center;
    
}
.display{
    width: 100%;
    height: 70px;
    font-size: 30px;
    text-align: right;
    padding: 10px;
    letter-spacing:2px;
    border: 2px solid black;
    background-color: rgb(211, 211, 211);

}

.calc-body{
    text-align: center;
    margin-top: 1px;

}

.btn{
    width:60px;
    height: 65px;
    background-color: black;
    color: white;
    font-size: 25px;
}

.ctn{
    width:60px;
    height: 65px;
    background-color:red;
    color: white;
    font-size: 25px;
}